<?php foreach ($posts as $post) : ?>
<?php $withImage = !empty($post->get('post_image')); ?>
<div class="blog-post panel">
    <div class="row">
        <div class="small-10 large-10 columns">
            <b><?php echo $post->get('post_title'); ?></b>
        </div>
        <div class="small-2 large-2 columns"><?php echo date('d/m/Y', $post->get('post_timestamp')); ?></div>
    </div>
    <br>
    <div class="row">
        <?php if($withImage) : ?>
        <div class="small-3 large-3 columns">
            <img src="<?php echo $post->get('post_image'); ?>" width="300">
        </div>
        <?php endif; ?>

        <div class="small-<?php echo $withImage ? 9 : 12; ?> large-<?php echo $withImage ? 9 : 12; ?> columns">
            <?php echo $post->get('post_body'); ?>
        </div>
    </div>
</div>
<?php endforeach; ?>