<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My spectacular blog</title>

    <link rel="stylesheet" href="//cdn-files.cloud/arc/css/arc.discovery.min.css" />
    <!--[if IE 8]><link rel="stylesheet" href="//cdn-files.cloud/arc/css/arc-ie8fix.min.css" /><![endif]-->
    <script type='text/javascript' src="//cdn-files.cloud/arc/js/jquery.arc.min.js"></script>
    <script type='text/javascript' src="//cdn-files.cloud/arc/js/picturefill.arc.min.js"></script>
</head>
<body>

<div class="row">

    <header class="small-12 large-12 columns">
        <div class="row display collapse">
            <div class="small-12 large-12 columns collapse text-center">
                <h1>My spectacular blog</h1>
                <h3 class="subheader">A totally false statement</h3>
            </div>
        </div>
    </header>

    <div class="small-12 large-12 columns">
        <?php if(isset($_SESSION['error'])) : ?>
        <div data-alert="" class="alert-box error">
            <?php echo $_SESSION['error']; ?>
            <a href="" class="close">×</a>
        </div>
        <?php unset($_SESSION['error']); ?>
        <?php endif; ?>

        <div id="formBlock">
            <form class="custom" action="/posts/save" method="post" enctype="multipart/form-data" id="addPostForm">
                <input type="hidden" id="csrf" name="csrf" value="<?php echo $_SESSION[\Albelli\Core\CsrfProtection::CSRF_PROTECTION_KEY_NAME]; ?>">
                <fieldset class="small-12 large-12 columns">
                    <h3>New blog post</h3>
                    <div class="row">
                        <div class="large-9 small-9 columns">
                            <div class="small-12 large-12">
                                <input class="required" type="text" placeholder="My post title" name="post_title" id="postTitle"/>
                            </div>

                            <div class="small-12 large-12">
                                <textarea type="text" placeholder="Here all my important post text!" name="post_body" id="postBody"></textarea>
                            </div>

                            <div class="small-6 large-6">
                                <input class="required" type="email" placeholder="Email Address" name="post_email" id="postEmail"/>
                            </div>

                            <div class="small-12 large-12">
                                <input type="file" placeholder="Image" name="post_image" id="postImage"/>
                            </div>
                        </div>

                        <div class="large-3 small-12 columns text-center" id="savePostButton">
                            <input type="submit" class="button" value="Save Post">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <br>

    <div class="small-12 large-12">
        <div class="large-9 small-12 columns" id="content">
            <?php echo $content; ?>
        </div>

        <div class="large-3 small-12 columns text-left">
            <?php if (!empty($words)) : ?>
            <h5>Most used words here</h5>
            <ul id="mostUsedWords">
                <?php foreach ($words as $word => $count) : ?>
                <li><?php echo $word; ?></li>
                <?php endforeach; ?>
            </ul>
            <?php endif; ?>
        </div>
    </div>

</div>


<script src="//cdn-files.cloud/arc/js/arc.discovery.min.js"></script>
<script type="text/javascript" src="/pub/js/main.js"></script>
<script type="text/javascript" src="/pub/js/message_helper.js"></script>
<script type="text/javascript" src="/pub/js/validator_helper.js"></script>

</body>
</html>